<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Credits</h1>
    <p>PALOMA GOMEZ</p>
    <img src="/images/foto.jpg" width="200"/>
    <br>
    <br>
    <a href="/">HOME</a>
  </body>
</html>
