<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <a href="/">HOME</a>
    <a href="/credits">CREDITS</a>
    <a href="/quizzes">QUIZZES</a>
  </body>
</html>
